*.iml
/local.properties
/.idea/workspace.xml
.DS_Store
/build
/captures
/app/build/
#built application files
*.apk
*.ap_
# Windows thumbnail db
Thumbs.db
# files for the dex VM
*.dex
/.idea/
/.gradle/
