<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yezz.company.yezzclub">

    <uses-feature
        android:name="android.hardware.camera"
        android:largeHeap="true"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:logo="@drawable/ic_drawer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreIdentify"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadCache"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreAdd"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreMeta"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Soon"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Quantitative"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreMenu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Route"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reset"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Customer" />
        <activity android:name=".StorePhotoEvidence" />

        <service
            android:name=".services.YezzGPS"
            android:exported="false"
            android:process=":gps_process" />

        <receiver
            android:name=".services.YezzGPSReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.SyncDataService"
            android:exported="false" ></service>
    </application>

</manifest>